@import "../decor.css";

.tg-disable-box {
	transition: all .5s ease-in-out;
}

	.tg-disable-box.active {
		background-color: var(--disable-background-color);
		box-shadow: inset 0 9px 15px -9px var(--disable-box-color);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
