@import "../decor.css";

.tg-link,
.tg-link:active,
.tg-link:visited {
	color: var(--link-color);
	font-size: var(--link-font-size);
	line-height: var(--link-line-height);
}

.tg-header-link:hover {
	color: var(--link-hover-color);
}

	.tg-link_block {
		margin-left: 10px;
	}

	.tg-link_external {
		color: var(--link-external-color);
		font-size: var(--link-external-font-size);
		line-height: var(--link-external-line-height);
	}

	.tg-link_back {
		display: block;
		float: left;

		&:before {
			content: '\2190';
			margin-right: 5px;
			display: inline-block;
		}
	}
