* {
	box-sizing: border-box;
}

body {
	background-color: #e9e9e9;
	width: 450px;
}

.tg-link,
.tg-link:active,
.tg-link:visited {
	color: #6d6d6d;
	font: normal 12px/18px helvetica, arial, sans-serif;
}

.tg-header-link:hover {
	color: #6f6f6f;
}

	.tg-link_block {

	}

.tg-body {
	margin: 0 auto;
	width: 90%;
}

	.tg-title {
		background-color: #eee;
		border-radius: 5px;
		color: #666;
		font-size: 20px;
		margin: 25px auto 0 auto;
		padding: 10px;
	}

	.tg-title,
	.tg-list {
		border: #ddd;
	}

	.tg-header {
		margin: 15px;
		text-align: right;
	}
