@import "./decor.css";

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--body-background-color);
	font: var(--body-font);
	width: 450px;
}

.tg-index {
	margin: 0 auto;
	width: 90%;
}

.tg-panel {
	margin: 15px 0;
	text-align: right;
}

.tg-box {
	color: var(--body-box-color);
	padding: 15px;
}

.tg-button {
	display: inline-block;
	background-color: var(--button-background-color);
	box-shadow:
			0 2px 2px 0 rgba(0, 0, 0, .14),
			0 3px 1px -2px rgba(0, 0, 0, .2),
			0 1px 5px 0 rgba(0, 0, 0, .12);
	border: none;
	border-radius: 2px;
	color: var(--button-color);
	cursor: pointer;
	font-family: var(--button-font-family);
	font-size: var(--button-font-size);
	line-height: var(--button-line-height);
	height: 36px;
	letter-spacing: 0;
	overflow: hidden;
	outline: none;
	padding: 0 16px;
	position: relative;
	margin: 0;
	min-width: 64px;
	text-transform: uppercase;
	transition:
		box-shadow .2s cubic-bezier(.4, 0, 1, 1),
		background-color .2s cubic-bezier(.4, 0, .2, 1),
		color .2s cubic-bezier(.4, 0, .2, 1);
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	will-change: box-shadow;
}

.tg-button:hover {
	background: var(--button-hover-color);
	box-shadow:
		0 2px 2px 0 rgba(113, 101, 101, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, .2),
		0 1px 5px 0 rgb(191, 191, 191);
}

.tg-button:active {
	background: var(--button-active-color);
}

.tg-label {
	font-size: 13px;
	padding-left: 4px;
}

.tg-list {
	line-height: 28px;
	padding-left: 25px;
}
	.tg-list__item {
		display: flex;
	}

	.tg-list__item:before {
		color: var(--list-color);
		content: '\2714 ';
		padding-right: 10px;
	}

	.tg-block {
		margin-bottom: 15px;
	}

	.tg-block_small {
		font-size: 13px;
	}
