.tg-title {
	/*background-color: #eee;*/
	background-color: #ff237d;;
	color: #fff;
	border-radius: 1px;
	/*color: #666;*/
	font-size: 20px;
	margin: 25px auto 0 auto;
	padding: 10px;
}

.tg-title,
.tg-list {
	border: #ddd;
}
