@import "../decor.css";

.tg-search {
	position: relative;
}

	.tg-search__input {
		color: var(--search-color);
		font-size: var(--search-font-size);
		line-height: var(--search-line-height);
		padding: 15px;
		border: none;
		border-bottom: 1px solid var(--search-bottom-color);
		outline: none;
		transition:
			border-bottom .2s cubic-bezier(.4, 0, 1, 1),
			box-shadow .2s cubic-bezier(.4, 0, 1, 1),
			background-color .2s cubic-bezier(.4, 0, .2, 1),
			color .2s cubic-bezier(.4, 0, .2, 1);
		width: 100%;
		will-change: box-shadow;
	}

	.tg-search__input:focus {
		box-shadow: 0 -12px 15px -16px var(--search-box-focus-color);
		border-bottom-color: var(--search-bottom-focus-color);
	}

	.tg-search__clear {
		opacity: 0;
		transition: opacity .3s ease-in;
	}

	.tg-search__clear:after {
		content: var(--close-content);
		color: var(--search-clear-color);
		cursor: pointer;
		font-size: var(--search-clear-font-size);
		line-height: var(--search-clear-line-height);
		position: absolute;
		right: 15px;
		top: 19px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

		.tg-search__clear_active {
			opacity: 1;
		}

		.tg-search__clear_active:hover:after {
			color: var(--search-color);
		}
